In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
df = pd.read_csv("C:/Users/Amir/OneDrive/Desktop/Car Price Prediction/Car Price Prediction/DB/peugeot-206.csv")

In [7]:
df.head(10)

   Year  Kilometers           Model     Name      Price
0  1388      377000           تیپ 2  پژو 206  277000000
1  1397      118000           تیپ 2  پژو 206  420000000
2  1401           0  تیپ 3 پانوراما  پژو 206  630000000
3  1394      330000           تیپ 5  پژو 206  345000000
4  1383      420000           تیپ 2  پژو 206  220000000
5  1394      126000           تیپ 5  پژو 206  455000000
6  1390       25600           تیپ 6  پژو 206  790000000
7  1396       20000           تیپ 2  پژو 206  550000000
8  1399       81000           تیپ 2  پژو 206  465000000
9  1387       92000           تیپ 2  پژو 206  275000000

In [9]:
# Remove the word "تیپ" from the values in the "Model" column of the dataframe
df['Model'] = df['Model'].str.replace('تیپ', '', regex=False)  # Replace "تیپ" with an empty string

# Display the results after removing "تیپ" from the "Model" column
print(df['Model'])

0                 2
1                 2
2        3 پانوراما
3                 5
4                 2
           ...
1007              5
1008              5
1009              2
1010              2
1011              2
Name: Model, Length: 1012, dtype: object

In [11]:
# Create a new column to check for the word "panorama"
df['has_panorama'] = df['Model'].str.contains('پانوراما')

print(df[['Model', 'has_panorama']])

            Model  has_panorama
0               2         False
1               2         False
2      3 پانوراما          True
3               5         False
4               2         False
...           ...           ...
1007            5         False
1008            5         False
1009            2         False
1010            2         False
1011            2         False

[1012 rows x 2 columns]

In [13]:
# Removing the word "panorama" from the main column
df['Model'] = df['Model'].str.replace('پانوراما', '', regex=False)

print(df['Model'])

0         2
1         2
2        3
3         5
4         2
       ...
1007      5
1008      5
1009      2
1010      2
1011      2
Name: Model, Length: 1012, dtype: object

In [15]:
# Check for missing (null) values in each column of the DataFrame
null_counts = df.isnull().sum()  # Count the number of null values in each column

# Print the result to display the count of missing values for each column
null_counts

Year            0
Kilometers      0
Model           0
Name            0
Price           0
has_panorama    0
dtype: int64

In [17]:
df.head()

   Year  Kilometers Model     Name      Price  has_panorama
0  1388      377000     2  پژو 206  277000000         False
1  1397      118000     2  پژو 206  420000000         False
2  1401           0    3   پژو 206  630000000          True
3  1394      330000     5  پژو 206  345000000         False
4  1383      420000     2  پژو 206  220000000         False